pipeline/Copy_SQLTBL_BLOB_FILTER.json
{
	"name": "Copy_SQLTBL_BLOB_FILTER",
	"properties": {
		"activities": [
			{
				"name": "Fetch Record Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as rowcnt from saleslt.customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CUSTOMERTBL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CustomerTableRecordCountCheck",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Fetch Record Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Fetch Record Count').output.firstRow.rowcnt,1000)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Data Customer Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_CUSTOMERTBL",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SampleBLOBFile",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Srinivas"
		},
		"annotations": []
	}
}