pipeline/ingest_src_landing_claim.json
{
	"name": "ingest_src_landing_claim",
	"properties": {
		"activities": [
			{
				"name": "Get High Water Mark Date for Claim",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select HighWaterMarkDate from dbo.HighWaterMark where Table_Name ='Claim'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_GENERIC",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "HighWaterMark"
						}
					}
				}
			},
			{
				"name": "Get Last Modified Date from Claim Table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get High Water Mark Date for Claim",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(LastUpdatedTimeStamp) as LastModifiedDate from dbo.Claim",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_GENERIC",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "Claim"
						}
					}
				}
			},
			{
				"name": "Copy Claim Table Data into Landing File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Modified Date from Claim Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select  * from dbo.Claim where LastUpdatedTimeStamp > '@{activity('Get High Water Mark Date for Claim').output.firstRow.HighWaterMarkDate}'\nand LastUpdatedTimeStamp <= '@{activity('Get Last Modified Date from Claim Table').output.firstRow.LastModifiedDate}'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_GENERIC",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "Claim"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Landing_Claim_Parquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update HighWaterMark Table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Claim Table Data into Landing File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select 'Claim' as Table_Name,'@{activity('Get Last Modified Date from Claim Table').output.firstRow.LastModifiedDate}' as HighWaterMarkDate\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"Table_Name"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Table_Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Table_Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "HighWaterMarkDate",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "HighWaterMarkDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_GENERIC",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "Claim"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQL_GENERIC",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "HighWaterMark"
						}
					}
				]
			}
		],
		"folder": {
			"name": "Policy Project"
		},
		"annotations": []
	}
}